* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.Layout__Content__LhJtv {
    margin: 72px;
    
}.Toolbar__Toolbar__2JJW- {
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703B09;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 90;
}

.Toolbar__Toolbar__2JJW- nav {
    height: 100%;

}
.Toolbar__Logo__1efBD {
    height: 80%;
}
@media (max-width: 499px) {
    .Toolbar__DesktopOnly__WADUd {
        display: none;
    }
}.Logo__Logo__2isxd {
    background-color: white;
    height: 80%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
}
.Logo__Logo__2isxd img {
    height: 100%;
}.NavigationItems__NavigationItems___yd_d {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
}
@media (min-width: 500px) {
    .NavigationItems__NavigationItems___yd_d {
        -ms-flex-flow: row;
            flex-flow: row;
    }
}.NavigationItem__NavigationItem__23bcu {
    margin: 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
}
.NavigationItem__NavigationItem__23bcu a {
    color: #8f5c2c;
    text-decoration: none;
    width: 100%;
    line-height: 56px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    
}
.NavigationItem__NavigationItem__23bcu a:hover,
.NavigationItem__NavigationItem__23bcu a:active,
.NavigationItem__NavigationItem__23bcu a.NavigationItem__active__2zJdO {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bolder;
}

@media (min-width: 500px) {
    .NavigationItem__NavigationItem__23bcu {
        margin: 0;
        display: -ms-flexbox;
        display: flex;
        width: auto;
        height: 100%;
        -ms-flex-align: center;
            align-items: center;
    }
    .NavigationItem__NavigationItem__23bcu a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;

        
    }
    .NavigationItem__NavigationItem__23bcu a:hover,
    .NavigationItem__NavigationItem__23bcu a:active,
    .NavigationItem__NavigationItem__23bcu a.NavigationItem__active__2zJdO {
        background-color: #8f5c2c;
        color: rgba(0, 0, 0, 0.8);
        border-bottom: 4px solid black;
        font-weight: bolder;
    }
}.DrawerToggle__DrawerToggle__26to0 {
    width: 40px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.DrawerToggle__DrawerToggle__26to0 div {
    width: 90%;
    height: 3px;
    background-color: white;
    border-radius: 1.5px;  
}
@media (min-width: 500px) {
    .DrawerToggle__DrawerToggle__26to0 {
        display: none;
    }
}.SideDrawer__SideDrawer__21TuB {
    height: 100%;
    width: 280px;
    max-width: 70%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 200;
    padding: 32px 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

@media (min-width: 500px) {
    .SideDrawer__SideDrawer__21TuB {
        display: none;
    }
}
.SideDrawer__Open__1pVYR {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.SideDrawer__Close__3Yv1l {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}
.SideDrawer__Logo__3TkPv {
    height: 11%;
    margin-bottom: 32px;
}.Backdrop__Backdrop__efy1y {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}.PosterBuilder__PosterBuilder__1unsy {
    width: 80%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
}.Poster__Poster__1D0_Q {
    width: 210mm;
    min-height: 297mm;
    display: block;
    background-color: white;
    border: 1px solid #eeeeee;
    position: relative;
    z-index: -100;
}
.Poster__Title__1rvEq {
    width: 90%;
    margin: 120px auto 40px;
    height: 50px;
    text-align: center;
    color: #03A0EA;
}
.Poster__Title__1rvEq h1 {
    font-size: 40px;
    margin: -5px;
}
.Poster__Title__1rvEq hr {
    width: 60%;
    margin: 5px auto;
    height:1px; 
    border:none; 
    border-top:1px solid #03A0EA;
}
.Poster__Qcode__3_No5 {
    width: 400px;
    height: 400px;
    margin: 180px auto 0px;
    background-color: #03A0EA;
    position: relative;
    padding: 10px  
}

.Poster__QcodeLogo__2r1a3 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 190px;
    left: 190px;
}
.Poster__QcodeLogo__2r1a3 img{
    width: 100%;
    height: 100%;
}
.Poster__BackgroundShape__2TsGr svg{
    /* margin-top: -250px; */
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -50;
}
.Poster__TennisBallUp__2MXSP {
    position: absolute;
    top: 0px;
    left: -50px;
}

.Poster__TennisBallDown__1zk0U {
    position: absolute;
    bottom: 50px;
    right: 0;
}
.Poster__Label__3sRvO {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 250px;   
}
.Poster__Label__3sRvO h1 {
    font-size: 40px;
}
.Poster__Label__3sRvO h3 {
    font-size: 24px;
}
.Poster__Logo__2oFog {
    width: 100%;
    position: absolute;
    bottom: 80px;
    text-align: center;
}
.Poster__Logo__2oFog img {
    width: 200px;
}.Button__Button__QI7b2 {
    background-color: #03A0EA;
    border: none;
    border-radius: 8px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    padding: 8px 16px;
    margin: 8px;
    float: right;
}

.Button__Button__QI7b2:first-of-type {
    margin-left: 0;
}

.Button__Button__QI7b2:hover {
    color: rgba(255, 255, 255, 0.7)
}

.Button__Success__2dHUt {
    color: #5c9210;
}

.Button__Danger__2xnhN {
    color: #944317;
}.PosterControl__PosterControl__1L8xM {
    width: 300px;
    height: 800px;
    background-color: #eee;
    padding: 16px;
}
/*# sourceMappingURL=main.312fbbbb.css.map*/