body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f8f8f8;
  
}
.Layout__Content__LhJtv {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
}.Toolbar__Toolbar__2JJW- {
    width: 100%;
    height: 80px;
    background: -webkit-gradient(linear, left top, right top, from(#1072C0), to(#00A5D5));
    background: -webkit-linear-gradient(left, #1072C0, #00A5D5);
    background: -o-linear-gradient(left, #1072C0, #00A5D5);
    background: linear-gradient(to right, #1072C0, #00A5D5);
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 90;

}
.Toolbar__Container__1InIf {
    max-width: 1000px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
        flex-flow: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.Toolbar__Link__QRgl1 {
    left: 180px;
    margin-left: 10px;
}
.Toolbar__Link__QRgl1 img {
    width: 20px;
    margin: 16px 0 4px 0;
}
.Toolbar__Link__QRgl1 p {
    color: white;
    margin-top: 0px;
    font-size: 12px;
}

.Toolbar__Title__2TGEa {
    color: white;
    
}
.Toolbar__EventTitle__fJLBT {
    color: white;
    font-size: 20px;
    line-height: 40px;
    margin-top: 10px;
}
.Toolbar__StationTitle__3P0-Y {
    color: white;
    font-size: 15;
    line-height: 20px;
    margin-top: 5px;
}
.Toolbar__EnCn__2N-c2 {
    width: 80px;
    display: block;
    
}

.Toolbar__Toolbar__2JJW- nav {
    height: 100%;
    margin-right: 50px;
}

.Toolbar__Logo__1efBD {
    height: 80%;
}

@media (max-width: 1000px) {
    .Toolbar__DesktopOnly__WADUd {
        display: none;
    }
}


@media (max-width: 500px) {
    .Toolbar__Title__2TGEa {
        font-size: 15px;
    }
}.SideDrawer__SideDrawer__21TuB {
    height: 100%;
    width: 280px;
    max-width: 70%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 200;
    padding: 32px 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

@media (min-width: 500px) {
    .SideDrawer__SideDrawer__21TuB {
        display: none;
    }
}
.SideDrawer__Open__1pVYR {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.SideDrawer__Close__3Yv1l {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}
.SideDrawer__Logo__3TkPv {
    height: 11%;
    margin-bottom: 32px;
}.Logo__Logo__2isxd {
    background-color: white;
    height: 80%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
}
.Logo__Logo__2isxd img {
    height: 100%;
}.NavigationItems__NavigationItems___yd_d {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
}
@media (min-width: 500px) {
    .NavigationItems__NavigationItems___yd_d {
        -ms-flex-flow: row;
            flex-flow: row;
    }
}.Backdrop__Backdrop__efy1y {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}.DrawControl__DrawControl__12xFh {
    width: 100%;
    background-color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    z-index: 500;
    border-bottom: 1px solid #cccccc70;
}
.DrawControl__Pos__nHo9z {
    position: fixed;
    margin-top: -117px;
}
.DrawControl__Rel__1Td7l {
    position: static
}
.DrawControl__Export__UVf00 {
    display: none;
}
@media (min-width: 768px) {
    .DrawControl__Export__UVf00 {
        position: absolute;
        right: 30px;
        display: block;
    }
    
}.UnderLineButton__UnderLineButton__eFiMW {
    background-color: transparent;
    border: none;
    color: #cccccc;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 8px;
    margin: 6px 6px 0 6px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border-bottom: 3px solid transparent;
}

.UnderLineButton__UnderLineButton__eFiMW:first-of-type {
    margin-left: 0;
}

.UnderLineButton__UnderLineButton__eFiMW:hover {
    color: #03A0EA;
    border-bottom: 3px solid #03A0EA
}
.UnderLineButton__active__aO_3Q {
    color: #03A0EA;
    border-bottom: 3px solid #03A0EA
}.RoundButton__RoundButton__30Yu8 {
    background-color: transparent;
    border: none;
    color: #cccccc;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 8px;
    margin: 6px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border-radius: 4px;
    
}

.RoundButton__RoundButton__30Yu8:first-of-type {
    margin-left: 0;
}

.RoundButton__RoundButton__30Yu8:hover {
    color: white;
    background-color: #03A0EA;
}
.RoundButton__Active__2SP3- {
    color: white;
    background-color: #03A0EA;
}.DrawView__DrawView__2TBbV {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    
}

@media (max-width: 1000px) {
    .DrawView__Third__1p_rY {
        display: none;

    }
}

@media (max-width: 660px) {
    .DrawView__Second__3njvY {
        display: none;

    }
}.DrawList__DrawList__1ThKs {
    width: 340px;
    height: 100%;
    background-color: #f8f8f8;
}
.DrawItem__DrawItem__EUhc9 {
    margin-top: 18px;
    width: 340px;
    height: 150px;
    background-color: #fff;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 10px #BDBDBD;
            box-shadow: 0px 0px 10px #BDBDBD;
    border: none;
}

.DrawItem__DrawItem__EUhc9 header{
    width: 100%;
    height: 30px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    font-size: 13px;
    line-height: 30px;
    position: relative;
    
}
.DrawItem__Status__2JRzC {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 12px;
}

.DrawItem__Completed__fVsVM header{
    background: -webkit-gradient(linear, left top, right top, from(#1072C0) , to(#00A5D5));
    background: -webkit-linear-gradient(left, #1072C0 , #00A5D5);
    background: -o-linear-gradient(left, #1072C0 , #00A5D5);
    background: linear-gradient(to right, #1072C0 , #00A5D5);
}

.DrawItem__OnGoing__3sjcX header{
    background: -webkit-gradient(linear, left top, right top, from(#FF6209) , to(#FAB761));
    background: -webkit-linear-gradient(left, #FF6209 , #FAB761);
    background: -o-linear-gradient(left, #FF6209 , #FAB761);
    background: linear-gradient(to right, #FF6209 , #FAB761);
}

.DrawItem__NotStart__7B9hn header{
    background: -webkit-gradient(linear, left top, right top, from(#B3B3B3) , to(#B3B3B3));
    background: -webkit-linear-gradient(left, #B3B3B3 , #B3B3B3);
    background: -o-linear-gradient(left, #B3B3B3 , #B3B3B3);
    background: linear-gradient(to right, #B3B3B3 , #B3B3B3);
}

.DrawItem__Container__35lVU {
    width: 100%;
    height: 120px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}
.DrawItem__Serial__3vlT7 {
    margin-top: 30px;
    margin-left: 6px;
    font-weight: bolder;
    border: none;
}
.DrawItem__CompletedColor__goSGJ {
    color: #088CCB;
    border-right: 2px solid #088CCB;
}
.DrawItem__OnGoingColor__1rI5t {
    color: #FF9A00;
    border-right: 2px solid #FF9A00;
}
.DrawItem__NotStartColor__3b4zn {
    color: #B3B3B3;
    border-right: 2px solid #B3B3B3;
}

.DrawItem__CompletedBgColor__1IYrJ {
    background-color: #088CCB;
}
.DrawItem__OnGoingBgColor__2Vi7v {
    background-color: #FF9A00;
}
.DrawItem__NotStartBgColor__3XpMs {
    background-color: #B3B3B3;
}





.DrawItem__SerialA__3X3ON,.DrawItem__SerialB__BnZdY{
    padding-right: 4px;
    
}
.DrawItem__SerialB__BnZdY {
    margin-top: 20px;
}

.DrawItem__Teams__3xx1g {
    width: 160px;
    height: 110px;
    font-size: 12px;
    color: black;
    
}
.DrawItem__TeamA__3H32D {
    margin-top: 25px;
    height: 38px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.DrawItem__TeamB__16XTE {
    margin-top: 8px;
    height: 38px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.DrawItem__Result__3fr9t {
    width: 35px;
    height: 100px;
    font-weight: bolder;
    color: #FF9A00;
    line-height: 38px;

}
.DrawItem__ResultA__3dwXd {
    margin-top: 25px;
    height: 38px;
    
}
.DrawItem__ResultB__3li1E {
    margin-top: 8px;
    height: 38px;
    
}

.DrawItem__Result__3fr9t img {
    width: 22px;
    height: 16.5px;
    margin-top: 30px;
}
.DrawItem__Scores__1lf95 {
    height: 100px;
    display: -ms-flexbox;
    display: flex;
}.GameItem__GameItem__AFYTX {
    width: 30px;
    height: 100%;
    margin: 0 1px;

}
.GameItem__Item__cTmmG {
    height: 20px;
    font-size: 10px;
    color: #9B9B9B;
    line-height: 20px;
    margin-top: 5px;
}
.GameItem__Score__1FIj0 {
    width: 25px;
    height: 38px;
    color: white;
    margin: 1px auto 7px;
    text-align: center;
    line-height: 38px;
    position: relative;
}
.GameItem__TieBreak__1qWaJ {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 9px;
    line-height: 9px;

}
.GameItem__CompletedBgColor__GBspe {
    background-color: #088CCB;
}
.GameItem__OnGoingBgColor__3j6he {
    background-color: #FF9A00;
}
.GameItem__NotStartBgColor__PGMZP {
    background-color: #B3B3B3;
}.LineList__Space__1N6Ez {
    width: 30px;
    height: 1px;
    
}.DrawLine__DrawLine__3DQzY {
    width: 30px;
    height: 191px;
    margin-top: 110px;
    margin-bottom: 145px;
}

.DrawLine__DrawLine2__1Qqxe {
    width: 30px;
    height: 386px;
    margin-top: 200px;
    margin-bottom: 285px;
}
.DrawLine__Space__wzB9c {
    width: 30px;
    height: 1px;
    background-color: red
}.DrawBuilder__DrawBuilder__1GZTz {
    background-color: #f8f8f8;
}.CycleBuilder__CycleBuilder__3Zppf {
    background-color: #f8f8f8;
}.CycleControl__CycleControl__21oro {
    width: 100%;
    background-color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    z-index: 500;
    border-bottom: 1px solid #cccccc70;
}
.CycleControl__Export__2jqvh {
    display: none;
}
@media (min-width: 768px) {
    .CycleControl__Export__2jqvh {
        position: absolute;
        right: 30px;
        display: block;
    }
    
}.CycleView__CycleView__3d8DD {
    max-width: 1100px;
    background-color: #f8f8f8;
    margin: 0 auto;
}
.Group__Group__Y4MSU {
    width: 100%;
    background-color: #f8f8f8;
    margin-bottom: 50px;
    
}
.Group__Rank__1keM9 {
    width: 100%;
    background-color: #f8f8f8;
}
.Group__DrawItems__3xazM {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.Group__Space__3nv_O {
    width: 97%;
    height: 50px;
    border-bottom: 1px solid #cccccc;
    margin: 0 auto;
}
.Group__Rank__1keM9 {
    width: 97%;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 10px #BDBDBD;
            box-shadow: 0px 0px 10px #BDBDBD;
    font-size: 13px;


}
.Group__Rank__1keM9 header {
    width: 100%;
    height: 50px;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(#1072C0) , to(#00A5D5));
    background: -webkit-linear-gradient(left, #1072C0 , #00A5D5);
    background: -o-linear-gradient(left, #1072C0 , #00A5D5);
    background: linear-gradient(to right, #1072C0 , #00A5D5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    line-height: 50px;
    font-size: 15px;
}
.Group__Title__3e235 {
    margin-top: 5px;
    padding: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: 1px solid #f8f8f8;
}

.Group__teamName__1cuCh {
    width: 170px;
}
@media (max-width:400px) {
    .Group__Rank__1keM9 {
        width: 340px;
    }
}.RankItem__RankItem__143Bi {
    width: 97%;
    margin: 5px auto 0;
    
    padding: 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: 1px solid #f8f8f8;
}

.RankItem__TeamName__2DjET {
    width: 160px;
}
.RankItem__TeamSerial__ZnYxU {
    color: #0B8CCB;
    font-weight: bolder;
    font-size: 15px;
}
.RankItem__Ranking__1A-pO {
    color: #0B8CCB;
    font-weight: bold;
    font-size: 15px;
  
}.Filter__Filter__eZKZg {
    width: 100%;
    background-color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0 auto;
    
}

.Filter__Filter__eZKZg select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAAAXNSR0IArs4c6QAAAHJJREFUGBmFissNQFAURG9EoizWCtCAvb0SVKABBRAqUYoFiYQ4g4UXv0nO/cyMmVkPGfxJHXUthxVSPS9Spo66uwrmAsnxOlOeMnUclXwzxBdXtzxlN3k4FYwQQgQTyFP2KB+3geGkZsv7VEDaQQu6HW1xjxYdoNJwfAAAAABJRU5ErkJggg==) no-repeat scroll right center transparent;
    height: 30px;
    margin-right: 40px;
    border: none;
    border-radius: 0;
    /* border-bottom: 2px solid #03A0EA; */
    color: #03A0EA;
    padding: 0px 20px 0 5px;
    font-size: 12px;
    
}.App__App__1o-Fp {
  text-align: center;
  background-color: #f8f8f8;
}
.App__Hide__1NCL7 {
  display: none;
}

/*# sourceMappingURL=main.c8d40d16.css.map*/